#input-settings {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #2d9fd9;
  width: 250px;
  height: 30px;
  padding-left: 10px;
  position: relative;
}

.input-settings:focus {
  outline: none;
  border: 1px solid #a0d18c;
}

#change-username-btn {
  position: relative;
  left: 15px;
  transition: background-color 0.5s ease-in-out;
}

#change-username-btn:hover {
  border: 1px solid rgb(255, 204, 204);
  background-color: rgb(219, 216, 216);
}

#change-pfp-img {
  position: relative;
  right: 20px;
}

#submit-photo-change {
  position: relative;
  margin-right: 50px;
  bottom: 40px;
}

@media only screen and (max-width: 355px) {
  #change-pfp-img {
    right: 7px;
    bottom: 20px;
  }

  #submit-photo-change {
    top: -10px;
    left: 20px;
  }

  #input-settings {
    width: 80%;
    bottom: 15px;
  }

  #change-username-btn {
    left: 0px;
    transition: background-color 0.5s ease-in-out;
  }
}
